.test
  te({
    style: true
    background: linear-gradient(135deg, rgba(183,222,237,0.9) 0%,rgba(113,206,239,0.9) 50%,rgba(33,180,226,0.9) 51%,rgba(183,222,237,0.9) 100%)
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.75)
    text-shadow: 2px 1px 2px rgba(150, 150, 150, 1)
  })

te('.test', {
  style: true
  background: linear-gradient(135deg, rgba(183,222,237,0.9) 0%,rgba(113,206,239,0.9) 50%,rgba(33,180,226,0.9) 51%,rgba(183,222,237,0.9) 100%)
  box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.75)
  text-shadow: 2px 1px 2px rgba(150, 150, 150, 1)
})