.test,
#test {
  height: 60px;
  border: initial;
  position: relative;
  width: 200px;
  margin: 0rem;
  padding: 0rem;
  background: #2196f3;
  color: #fff;
  border-radius: 4px;
  box-shadow: initial;
  font-size: 1rem;
  font-weight: initial;
  font-family: initial;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  line-height: 60px;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
