.inherit
  te({
    width: 200px
  })
#inherit
  te({
    width: 200px
  })
input
  te({
    width: 200px
  })
input:first-child
  te({
    width: 200px
  })
:first-of-type
  te({
    width: 200px
  })
.add + #me
  te({
    width: 200px
  })
div ~ p:nth-child(2) > .cool
  te({
    width: 200px
  })

te('.inherit', {
  width: 200px
})
te('#inherit', {
  width: 200px
})
te('input', {
  width: 200px
})
te('input:first-child', {
  width: 200px
})
te(':first-of-type', {
  width: 200px
})
te('.add + #me', {
  width: 200px
})
te('div ~ p:nth-child(2) > .cool', {
  width: 200px
})