
//Default
$te_defaultDuration = 0.5s;
$te_defaultEase = cubic-bezier(0.420, 0.000, 0.580, 1.000);
$te_defaultDelay = 0s;

//--------------------------//
//Transition defaults
//-------------------------//
//Set Defaults
$te_defaultTransVal = {
  duration: $te_defaultDuration,
  ease: $te_defaultEase,
  delay: $te_defaultDelay
}
$te_defaultTrans = {
  transition: $te_defaultTransVal,
  hover: $te_defaultTransVal,
  active: $te_defaultTransVal,
  focus: $te_defaultTransVal,
  pseudo: $te_defaultTransVal,
  visited: $te_defaultTransVal,
  link: $te_defaultTransVal,
  customState: $te_defaultTransVal
}