@import 'te-defaults'


te($selector = null)
  Te($Args, $Selector, $Id = null)

    apply($props)
      $props = arguments if length(arguments) > 1
      // p('APPLY_______________')
      // p($props)
      for prop in $props
        {prop} $props[prop]


    createStyle(_selector, $dataObj)
      // p('createStyle________________')
      {_selector}
        apply($dataObj)

    cycleRes($res)
      for i in 0..length($res)
        $dataObj = $res[i]
        if $dataObj
          createStyle($dataObj.selector, $dataObj.data)

    $style = extractTe($Args, $Selector, $Id)
    // p('STYLE_______________')
    // p($style)
    cycleRes($style)
  //-> JS 
  ////////////////////
  //call
  isString($val)
    if $val is a 'string' or $val is a 'ident'
      return true
    else
      return false;
  isObj($val)
    return typeof($val) == 'object'


  //Assign main vars 
  $selector = null;
  $args = null;
  $id = null;
  if isString(arguments[0])
    $selector = arguments[0];
    $id = $selector
    $args = arguments[1];
  else
    $args = arguments[0];
    $selector = {};
    $id = selector();
  //Reassing Args if null
  $args = $args != null ? $args : {};
  //cache handled by stylus I ain't go the time
  //to figure this that shit out.
  //TODO production????
  if $args['cache']
    //stylus cache has hissy-fit if you pass the selector in as string
    if selector() != '&'
      +cache($args)
        remove($args, 'cache')
        Te($args, $selector, $id)
    else
      warn('~!~ Te Error ~!~')
      warn('You cannot use cache via the declarative method you must use the inheritive method.')
  else
    Te($args, $selector, $id)


